<div class="d-flex flex-column align-items-center pt-10">
  <div class="mt-10">
  <h1>Waw answer</h1>
  </div>

  <div class="card my-5 w-50 p-3">
    <div class="card-body">
    <h2>Your question 👀 </h2>
    <p> <%= params[:question] %></p>
    </div>
  </div>

  <div class="card my-5 w-50 p-3">
    <div class="card-body">
    <p><%= @coach_answer %></p>
    <p><em>- Your coach kiss</em></p>
    </div>
  </div>
</div>
